#slide-picker {
    display: flex;
}

.parameter-picker {
    display: flex;
    margin-left: 58%;
    margin-top: 1em;
}

.slide-button {
    padding: 0.25em 0.5em;
    background-color: lightgray;
    text-align: center;
    margin: 0 2px;
    cursor: pointer;
}

.parameter-button {
    padding: 0.25em 0.5em;
    background-color: lightgray;
    text-align: center;
    margin: 0 2px;
}

.selected {
    background-color: gray;
}

.slide {
    display: none;
}

.visible {
    display: flex;
}

.sidebar {
    width: 40%;
}

.bar {
    fill: steelblue;
    stroke: black;
}